$color-black: #010101;
$color-white: #ffffff;

$color-link: #29bbff;

$background-default: #262e3e;
$background-card: #2c3445;
$background-block: #424959;
$text-default: #E1E5EA;
$text-fade: #B5B7C0;
$warning-red: #E8386A;
$accent-default: #507ef2;
$button-default: #386ae8;