body {
	font-size: 16px;

	&.comic {
		font-family: 'Comic Neue', cursive !important;

		h1 {
			animation: .8s shake infinite alternate;
		}

		.logo {
			animation: .8s shake infinite alternate;
		}

		@keyframes shake {
			0% {
				transform: skewX(-15deg);
			}

			5% {
				transform: skewX(15deg);
			}

			10% {
				transform: skewX(-15deg);
			}

			15% {
				transform: skewX(15deg);
			}

			20% {
				transform: skewX(0deg);
			}

			100% {
				transform: skewX(0deg);
			}
		}
	}
}